Entorno Virtual

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

Archivos de caché de Python

/pycache/
*.py[cod]
*$py.class

Base de datos de desarrollo (Local)

*.sqlite3

Archivos del sistema y del editor

.vscode/
.idea/
.DS_Store
Thumbs.db

Logs y temporales

*.log
local_settings.py
db.sqlite3-journal